  .plant {
    position: relative;
    height: 50px;
    width: 50px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .gardenPlanner {
    display: inline-block;
    background: white;
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }
  
  /* Garden Planner */
.gardenPlanner {
    width: 1000;
    height: auto;
    /* position: relative; */
    margin: 2em auto;
   /* background-image: url(../images/grid.png);*/
    z-index: 0;
    border-radius: 2px;
}
.gardenGrid {
    height: 500px;
    width: 100%;
    z-index: 100;
    background-image: url('../images/dirt.png');
  }
  .gardenGridRow, .gardenGridColumn, .gardenGrid {
    border-style: solid;
    border-width: 1px;
    border-color: burlywood;
    /* background-color: white; */
    margin: auto;
    margin-top: 20px;
    background-image: url('../images/dirt.png');
  }

  .gardenGridColumn {
    transition: .3s ;
    background-image: url('../images/dirt.png');
  }
  /* .gardenGridColumn:hover {
    background-color: grey;
  } */