/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Nov-2019, 10:45:28
    Author     : Kaydargo
*/

h1{
    color: 9CAB6F;

}
h2{
    text-align: left;
}
body{
    background-color: white;
}

img {
    width: 50px;
}

.fill{
    background-image: url("../images/carrot.png");
    position: relative;
    background-size:contain;
    height: 150px;
    width:150px;
    top:5px;
    left: 5px;
    cursor:pointer;
}

.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px solid;
    background-color: white;
}

.hold{
    border: solid white 4px;
}

.hovered{
    background: grey;
    border-style: dashed;
}

.invisible{
    display:none;
}

/*
Plants Page CSS
*/
/**************Plants CSS****************/

.gallery-nav-links
{
  
    font-size: 20px;
/*    padding: 30px;   */
    text-align: center;
    color:#748C1C;
}

#vegetablesImages, #fruitsImages, #flowersImages{
    color:#748C1C;
}

.galhead{
    
    margin-bottom: 50px;
}

.gal-buttons{
    display: inline;
    margin-left: 15px;
    
}
.carouselimages{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas {
    width: 500px;
    height: 400px;
    background: #ccc;
    position: relative;
    margin: 2em auto;
}

#box {
    position: absolute;
    background-size:contain;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url("../images/carrot.png");
    cursor: move;
}

#results {
    text-align: center;
}
/**************plant CSS HOVER LINK****************/

a.gal-name-link
{
    color:#FFF5DB;
}

a.gal-name-link:hover {
    color: #FFF5DB;
    text-decoration: none;
}


p.gal-name > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

p.gal-name > a:hover {
  color: #000;
}

p.gal-name > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #808381; /*wont change to #FFF5DB*/
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


p.gal-name > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}