body {
    background-image: url(https://media.tumblr.com/1ca22c1a4b0b149bef1bf2e787296c32/tumblr_inline_mv7qmdtIo11qid2nw.png);
    width: 100%;
    height: 100%;
      overflow-x: hidden;
    text-align: justify;
    font-family: littlefont, Lucida Console;
    line-height: 9px;
    font-size: 8px;
    text-align: center;
  }
  
  @font-face {
    font-family: "littlefont";
    src: url('https://static.tumblr.com/rmj06l2/kcLlo1q2y/pf_ronda_seven.ttf');
  }
  
  .box {
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
    overflow: scroll;
    z-index:999;
  }
  
  .draggable {
    z-index: 999;
  }
  
  .ui-widget-header {
      
    border: 1px solid #dddddd;
    background: none;
    color: #333333;
    font-weight: bold;
}
.ui-widget-content {
    border:none !important;
    background: none !important;
    color: none !important;
}